@gravity:registry=https://artifactory.redbullmediahouse.com/artifactory/api/npm/rbds-npm-local/
//artifactory.redbullmediahouse.com/artifactory/api/npm/rbds-npm-local/:_auth=cy1yYm1oLWNkLXJiZHM6QUtDcDVmVWh4ZUhmNHg3d01ORUM0SHoxclZKS1p6SFpVU0RuZ2JKZk50ZEJwRkV3cjJHQUptWXpacVN5V01kQ1pHWjVzUFZjSw==
//artifactory.redbullmediahouse.com/artifactory/api/npm/rbds-npm-local/:always-auth=true